{{ form_start(form) }}
    <div class="card-body row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_errors(form.title) }}
                {{ form_label(form.title, 'Titre') }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.description) }}
                {{ form_label(form.title, 'Description') }}
                {{ form_widget(form.description, { 'attr': {'class': 'form-control html-editor', 'rows': 10} }) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="from-group">
                {{ form_errors(form.image) }}
                {{ form_label(form.image, 'Image') }}
                {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
                {% if form.image.vars.data %}
                    <div class="previous-img">
                        <img src="{{ asset('uploads/'~ form.image.vars.data.folder ~ '/' ~ form.image.vars.data.completeUrl ~ form.image.vars.data.ext) }}" alt="{{ form.image.vars.data.title }}" width="300">
                    </div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn my-4 primary_btn">{{ button_label|default('Mettre à jour ton profil') }}</button>
    </div>
{{ form_end(form) }}
