{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe - {{ parent() }}{% endblock %}
{% block body %}
    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Réinitialise ton mot de passe</h2>
                    <div class="page_link">
                        <a href="{{ path('home') }}">Home</a>
                        <a href="javascript:void(0)">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
<div class="whole-wrap mt-5">
    <div class="size-form-1">
        <h1>Bonjour, {{ user.firstname }}</h1>
        {{ form_start(form, {'attr': {'id': 'form'}}) }}
            {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
            <button type="submit" class="btn btn-block my-4 primary_btn">{{ button_label|default('Mettre à jour') }}</button>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
