{{ form_start(form) }}
    <div class="card-header">
        <h3 class="mr-5">Ajouter</h3>
        <a class="btn btn-info ml-15" href="{{ path('service_admin') }}">Retour</a>
    </div>
    <div class="card-body row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_errors(form.title) }}
                {{ form_label(form.title, 'Titre') }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.description) }}
                {{ form_label(form.title, 'Description') }}
                {{ form_widget(form.description, { 'attr': {'class': 'form-control html-editor', 'rows': 10} }) }}
            </div>
        </div>
        <div class="col-lg-6 row">
            <div class="form-group col-lg-6">
                {{ form_errors(form.icone) }}
                {{ form_label(form.icone, 'Icone') }}
                {{ form_widget(form.icone, { 'attr': {'class': 'form-control'} }) }}
                {% if form.icone.vars.data %}
                    <div class="previous-img">
                        <img src="{{ asset('uploads/'~ form.icone.vars.data.folder ~ '/' ~ form.icone.vars.data.completeUrl ~ form.icone.vars.data.ext) }}" alt="Image" width="150">
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-lg-6">
                {{ form_errors(form.image) }}
                {{ form_label(form.image, 'Image') }}
                {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
                {% if form.image.vars.data %}
                    <div class="previous-img">
                        <img src="{{ asset('uploads/'~ form.image.vars.data.folder ~ '/' ~ form.image.vars.data.completeUrl ~ form.image.vars.data.ext) }}" alt="Image" width="150">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <button class="btn bg-light-blue float-left">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
