{% extends 'base.html.twig' %}

{% block metakeyword %}
    <meta name="keywords" content="Samakunchan Technology, Service, {% for service in services %}{{ service.title }}, {% endfor %}">
{% endblock %}

{% block metadescription %}
    <meta name="description" content="Cette page présente les différents prestations de services que je propose. Les quatres principaux sont présentés et pour d'autres prestations merci de vous renseigner en me contactant">
    <meta itemprop="description" content="Cette page présente les différents prestations de services que je propose. Les quatres principaux sont présentés et pour d'autres prestations merci de vous renseigner en me contactant">
    <meta property="og:description" content="Cette page présente les différents prestations de services que je propose. Les quatres principaux sont présentés et pour d'autres prestations merci de vous renseigner en me contactant">
    <meta name="twitter:description" content="Cette page présente les différents prestations de services que je propose. Les quatres principaux sont présentés et pour d'autres prestations merci de vous renseigner en me contactant">
{% endblock %}

{% block title %}{{ parent() }} - Services{% endblock %}
{% block body %}
    <main>
        <!--================ Start Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Services</h2>
                        <div class="page_link">
                            <a href="{{ path('home') }}">Home</a>
                            <a href="javascript:void(0)">Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Banner Area =================-->
        <!--================ Start Service Area =================-->
        {% for service in services %}
            <section class="service_area {% if loop.index is even %} section_gap_service {% else %} section_gap {% endif %}">
                <div class="container">
                    <div class="row justify-content-around align-items-center {% if loop.index is even %} flex-row-reverse {% endif %}">
                        <div class="col-lg-5">
                            <div class="service_img">
                                {% if service.image %}
                                    <img src="{{ asset('uploads/' ~ service.image.folder ~'/'~ service.image.completeUrl ~ service.image.ext ) }}" alt="{{ service.image.title }}">
                                {% else %}
                                    <img src="http://placeimg.com/150/150/tech" alt="{{ service.title }} image">
                                {% endif %}

                            </div>
                        </div>

                        <div class="{% if loop.index is odd %} offset-lg-1 {% endif %} col-lg-5">
                            <div class="main_title text-left">
                                <h2>{{ service.title }}</h2>
                                <p>{{ service.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        {% endfor %}
        <!--================ End Service Area =================-->
    </main>
{% endblock %}
