{% extends 'base.html.twig' %}

{% block title %}CGV - {{ parent() }}{% endblock %}

{% block body %}
    <main>
        <!--================ Start Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>C.G.V</h2>
                        <div class="page_link">
                            <a href="{{ path('home') }}">Home</a>
                            <a href="javascript:void(0)">{{ cgv.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Banner Area =================-->
        <section class="section_gap">
            <div class="container">
                <h1>{{ cgv.title }}</h1>
                <p>{{ cgv.content | inky_to_html }}</p>
            </div>
        </section>
    </main>
{% endblock %}
