{% extends 'base.html.twig' %}

{% block metakeyword %}
    <meta name="keywords" content="Samakunchan Technology, {{ category.type }}, {% for post in category.blogs %}{{ post.title }}, {% endfor %}">
{% endblock %}

{% block metadescription %}
    <meta name="description" content="Cette page permet de voir l'ensemble des articles de la catégorie '{{ category.type }}'. Ceci permet une meilleur navigation entre les différentes page et permet de trouver le plus rapidement possible un article.">
    <meta itemprop="description" content="Cette page permet de voir l'ensemble des articles de la catégorie '{{ category.type }}'. Ceci permet une meilleur navigation entre les différentes page et permet de trouver le plus rapidement possible un article.">
    <meta property="og:description" content="Cette page permet de voir l'ensemble des articles de la catégorie '{{ category.type }}'. Ceci permet une meilleur navigation entre les différentes page et permet de trouver le plus rapidement possible un article.">
    <meta name="twitter:description" content="Cette page permet de voir l'ensemble des articles de la catégorie '{{ category.type }}'. Ceci permet une meilleur navigation entre les différentes page et permet de trouver le plus rapidement possible un article.">
{% endblock %}

{% block title %}Categorie - {{ parent() }}{% endblock %}

{% block body %}
    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Categories</h2>
                    <div class="page_link">
                        <a href="{{ path('home') }}">Home</a>
                        <a href="{{ path('blog_show_list') }}">Blog</a>
                        <a href="{{ path('category') }}">Categories</a>
                        <a href="javascript:void(0);">{{ category.type }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
    <section class="category_area">
        <div class="container">
            <h2 class="title-color mt-5 mb-5">Les articles de la catégorie: {{ category.type }}</h2>
            <div class="row">
                {% for post in category.blogs %}
                    {% if post.status is same as(true) %}
                        <article class="blog_item col-md-6">
                            <div>
                                <div class="blog_post">
                                    {% if post.mainImage is not empty %}
                                        <picture>
                                            <source srcset="{{ asset('uploads/images/' ~ post.mainImage.completeUrl ~ post.mainImage.ext) }}" type="image/webp">
                                            <source srcset="{{ asset('uploads/images/safari-la-pute/' ~ post.mainImage.completeUrl ~ '.jpg') }}" type="image/jpg">
                                            <img class="w-50 float-left mr-3" src="{{ asset('uploads/images/safari-la-pute/' ~ post.mainImage.completeUrl ~ '.jpg') }}" alt="{{ post.title }} image">
                                        </picture>
                                    {% else %}
                                        <img class="w-50 float-left mr-3" src="http://placehold.it/300x300" alt="{{ post.title }} image">
                                    {% endif %}
                                    <div class="blog_details">
                                        <a href="{{ path('blog_show_detail', {'slug': post.slug}) }}"><h2>{{ post.title }}</h2></a>
                                        <p>{{ post.content | slice(0, 200) | inky_to_html }}</p>
                                        <a href="{{ path('blog_show_detail', {'slug': post.slug}) }}" class="primary_btn"><span>Lire l'article</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% else %}
                        <article class="blog_item col-md-6">
                            <div>
                                1 article mais indisponible pour le moment.
                            </div>
                        </article>
                    {% endif %}
                {% else %}
                    <article class="blog_item">
                        <div class="col-md-12 text-center">
                            Aucun article trouvé pour cette catégorie.
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
