{% extends 'base.html.twig' %}

{% block metakeyword %}
    <meta name="keywords" content="Samakunchan Technology, {{ portfolio.title }}, {% for tag in portfolio.tags  %}{{ tag }}, {% endfor %}">
{% endblock %}

{% block metadescription %}
    <meta name="description" content="{{ portfolio.description | slice(0, 150) }}">
    <meta itemprop="description" content="{{ portfolio.description | slice(0, 150) }}">
    <meta property="og:description" content="{{ portfolio.description | slice(0, 150) }}">
    <meta name="twitter:description" content="{{ portfolio.description | slice(0, 150) }}">
{% endblock %}

{% block title %}Portfolio - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .aside_show_portfolio{
            margin-top: 100px;
        }
    </style>
{% endblock %}
{% block body %}
    <main class="d-flex">
        <aside class="col-lg-6 aside_show_portfolio d-none d-md-block">
            {% if portfolio.image %}
                <picture>
                    <source srcset="{{ asset('uploads/'~ portfolio.image.folder ~'/'~ portfolio.image.completeUrl~ portfolio.image.ext) }}" type="image/webp">
                    <source srcset="{{ asset('uploads/'~ portfolio.image.folder ~'/safari-la-pute/'~ portfolio.image.completeUrl~ '.jpg') }}" type="image/jpg">
                    <img src="{{ asset('uploads/'~ portfolio.image.folder ~'/safari-la-pute/'~ portfolio.image.completeUrl~ '.jpg') }}" alt="{{ portfolio.title }}" width="100%">
                </picture>
            {% else %}
                <img src="http://placeimg.com/800/800/tech" alt="{{ portfolio.title }} Image" width="100%">
            {% endif %}
        </aside>
        <section class="col-lg-6 col-md-6 col-sm-12">
            <!--================ Start Banner Area =================-->
            <section class="banner_area">
                <div class="banner_inner d-flex align-items-center">
                    <div class="container">
                        <div class="banner_content text-center">
                            <h3 class="text-white">{{ portfolio.title }}</h3>
                            <div class="page_link">
                                <a href="{{ path('home') }}">Home</a>
                                <a href="javascript:void(0);">Portfolio</a>
                                <a href="javascript:void(0)">{{ portfolio.title | title | slice(0, 13)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================ End Banner Area =================-->
            <!--================Start Portfolio Details Area =================-->
            <section class="portfolio_details_area">
                <div class="container">
                    <div class="portfolio_details_sama mt-5">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-5">
                                <div class="portfolio_right_text mt-30">
                                    <h4 class="text-uppercase">{{ portfolio.title }}</h4>
                                    <p>Tags:
                                        {% for tag in portfolio.tags %}
                                            {{ tag }},
                                        {% else %}
                                            Aucun tag ajouter pour le moment
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p>{{ portfolio.description | inky_to_html }}</p>
                    </div>
                </div>
            </section>
            <!--================End Portfolio Details Area =================-->
        </section>

    </main>
{% endblock %}
