{% extends 'base.html.twig' %}

{% block metakeyword %}
    <meta name="dateModified" content="{{ blog.updatedAt | date }}">
    <meta itemprop="dateModified" content="{{ blog.updatedAt | date }}">
    <meta name="keywords" content="Samakunchan Technology, {{ blog.title }}, {% endfor%}{% for tag in blog.tags %} {{ tag.name }},{% endfor%}">
{% endblock %}

{% block metadescription %}
    <meta name="description" content="{{ blog.content | slice(0, 150) }}">
    <meta itemprop="description" content="{{ blog.content | slice(0, 150) }}">
    <meta property="og:description" content="{{ blog.content | slice(0, 150) }}">
    <meta name="twitter:description" content="{{ blog.content | slice(0, 150) }}">
{% endblock %}

{% block title %}Blog - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <style>
        .blog_info .post_tag a {
            font: 300 14px/21px "Roboto", sans-serif;
            color: #000000;
        }
    </style>
{% endblock %}
{% block body %}
    <main>
        <!--================ Start Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Blog Details</h2>
                        <div class="page_link">
                            <a href="{{ path('home') }}">Home</a>
                            <a href="{{ path('blog_show_list') }}">Blog</a>
                            <a href="{{ path('blog_show_detail', {'slug': blog.slug}) }}">{{ blog.title | title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Banner Area =================-->
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area section_gap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 posts-list">
                        {% if blog.status %}
                            <div class="single-post row">
                                <div class="col-lg-12">
                                    <div class="feature-img text-center overflow-hidden" style="height: 20em; overflow: hidden">
                                        {% if blog.mainImage is not empty %}
                                            <img class="img-fluid w-100" src="{{ asset('uploads/images/' ~ blog.mainImage.completeUrl~blog.mainImage.ext) }}" alt="{{ blog.title }} image">
                                        {% else %}
                                            <img class="img-fluid w-100" src="http://placehold.it/300x300" alt="{{ blog.title }} image">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 blog_details">
                                    <div class="blog_info float-left p-5 text-right">
                                        <div class="post_tag">
                                            {% for tag in blog.tags %}
                                                <a href="{{ path('blog_show_list', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
                                                   class="{{ tag.name == app.request.query.get('tag') ? 'active' : '' }}">
                                                    {{ tag | title}} {% if loop.last is same as(false) %},{% endif %}
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="javascript:void(0);" class="w-100 text-right">{{ blog.user.firstname | title }} {{ blog.user.lastname | title }}<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="javascript:void(0);" class="w-100 text-right">{{ blog.createdAt | date('d/m/Y à H:m:s') }}<i class="lnr lnr-calendar-full"></i></a></li>
                                            <li><a href="javascript:void(0);" class="w-100 text-right">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="javascript:void(0);" class="w-100 text-right">{% if blog.view > 1 %} {{ blog.view }} Vues {% elseif blog.view is same as(1) %} 1 Vue {% else %} Aucune Vue {% endif %}<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#disqus_thread" class="w-100 text-right"><i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                                    <h1>{{ blog.title }}</h1>
                                    {{ blog.content | inky_to_html }}
                                </div>
                            </div>
                        {% else %}
                            <div class="single-post row">
                                <h3 class="text-center w-100">La publication arrive bientot ^^.</h3>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-3">
                        {{ render(controller('App\\Controller\\BlogController::blogSideBar')) }}
                    </div>
                </div>
                <div class="comments-area">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://http-samakunchan-technology-com.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', + new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>
    <script id="dsq-count-scr" src="//http-samakunchan-technology-com.disqus.com/count.js" async></script>
{% endblock %}
