<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('build/assets/media/images/favicon.546a996a.png') }}" type="image/png">
        <meta name="author" content="Samakunchan Technology">
        <meta name="publisher" content="Samakunchan Technology">
        <meta name="headline" content="Samakunchan Technology">
        <meta name="mainEntityOfPage" content="https://samakunchan-technology.com/">
        <meta name="image" content="https://samakunchan-technology.com/{{ asset('build/assets/media/images/logo.6e097222.png') }}">

        <meta itemprop="name" content="Samakunchan Technology - Développeur Web Freelance">
        <meta itemprop="url" content="https://my-services.samakunchan.fr/">
        <meta itemprop="author" content="Samakunchan Technology">
        <meta itemprop="publisher" content="Samakunchan Technology">
        <meta itemprop="headline" content="Samakunchan Technology">
        <meta itemprop="mainEntityOfPage" content="https://samakunchan-technology.com/">
        <meta itemprop="image" content="https://samakunchan-technology.com/{{ asset('build/assets/media/images/logo.6e097222.png') }}">

        <!-- Facebook Open Graph data https://developers.facebook.com/ to use debogger -->
        <meta property="og:locale" content="fr_FR">
        <meta property="og:title" content="Samakunchan Technology - Développeur Web Freelance">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://samakunchan-technology.com/">
        <meta property="og:image" content="https://samakunchan-technology.com/{{ asset('build/assets/media/images/logo.6e097222.png') }}">
        <meta property="og:site_name" content="Samakunchan Technology">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@Samakunchan">
        <meta name="twitter:creator" content="@Samakunchan">
        <meta name="twitter:title" content="Samakunchan Technology - Développeur Web Freelance">
        <!-- Twitter Summary card images must be at least 200x200px -->
        <meta name="twitter:image" content="https://samakunchan-technology.com/{{ asset('build/assets/media/images/logo.6e097222.png') }}">
        {% block metakeyword %}{% endblock %}
        {% block metadescription %}{% endblock %}

        <title>{% block title %}Samakunchan Technology{% endblock %}</title>
        {{ encore_entry_link_tags('scss/style')}}
        {{ encore_entry_link_tags('css/bootstrap')}}
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/portfolio')}}
        {% endblock %}
    </head>
    <body>
        <!--================ Start Header Area =================-->
        <header class="header_area">
            <div class="main_menu navbar-on">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="{{ path('home') }}">
                            <img src="{{asset('build/assets/media/images/logo.6e097222.png')}}" alt="Logo du site">
                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav justify-content-end">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('about') }}">A propos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('service_index') }}">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('blog_show_list') }}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact_new') }}">Contact</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--================ End Header Area =================-->

        {% block body %}{% endblock %}

        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="footer_top flex-column">
                            <div class="footer_logo">
                                <a href="javascript:void(0)">
                                    <img src="{{asset('build/assets/media/images/logo.6e097222.png')}}" alt="Logo du site">
                                </a>
                            <p class="sam-color-primary">
                                Copyright © {{ 'now'|date('Y') }} Samakunchan Technology |
                                <small ><a class="text-blue" href="{{ path('cgv_show', {'slug': 'conditions-generales-de-ventes'}) }}">Conditions générales de ventes</a></small>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer_bottom justify-content-center">
                    <div class="footer-copyright py-3">

                    </div>
                    <small class="col-lg-8 col-sm-12 footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </small>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->

        <!-- JQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {{ encore_entry_script_tags('js/navbar') }}
        {% block javascripts %}
        {# Ci dessous c'est important pour le portfolio #}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
            {{ encore_entry_script_tags('css/portfolio') }}
        {% endblock %}
    </body>
</html>
