{% extends 'admin-base.html.twig' %}

{% block title %}Bibliothèque - {{ parent() }}{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-archive bg-blue"></i>
                    <div class="d-inline">
                        <h5>Bibliothèque</h5>
                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('admin') }}"><i class="ik ik-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">bibliothèque</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">liste</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">all</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- STATISTIQUES FICHIERS -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card card-red st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div id="status-round-1" class="chart-shadow st-cir-chart" style="width:80px;height:80px">
                                <i class="ik ik-file align-middle" style="font-size: 80px"></i>
                            </div>
                        </div>
                        <div class="col text-center">
                            <h3 class=" fw-700 mb-5">Total fichiers</h3>
                        </div>
                    </div>
                    <span class="st-bt-lbl">{{ total | length }}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-blue st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div id="status-round-2" class="chart-shadow st-cir-chart" style="width:80px;height:80px">
                                <img src="{{ asset('build/assets/media/images/pdf.3fa92281.svg') }}" alt="fichier pdf">
                            </div>
                        </div>
                        <div class="col text-center">
                            {% if pdfs %}
                                <h3 class="fw-700 mb-5">{{ ((pdfs | length * 100)/(total |length)) | number_format(2) }}%</h3>
                            {% else %}
                                <h3 class="fw-700 mb-5">0%</h3>
                            {% endif %}
                        </div>
                    </div>
                    <span class="st-bt-lbl">{{ pdfs | length }}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-green st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div id="status-round-3" class="chart-shadow st-cir-chart" style="width:80px;height:80px">
                                <i class="ik ik-camera align-middle" style="font-size: 80px"></i>
                            </div>
                        </div>
                        <div class="col text-center">
                            {% if images %}
                                <h3 class="fw-700 mb-5">{{ ((images | length * 100)/(total |length)) | number_format(2) }}%</h3>
                            {% else %}
                                <h3 class="fw-700 mb-5">0%</h3>
                            {% endif %}
                        </div>
                    </div>
                    <span class="st-bt-lbl">{{ images | length }}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-grey st-cir-card text-white">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div id="status-round-3" class="chart-shadow st-cir-chart" style="width:80px;height:80px">
                                <i class="ik ik-hash align-middle" style="font-size: 80px"></i>
                            </div>
                        </div>
                        <div class="col text-center">
                            {% if nones %}
                                <h3 class="fw-700 mb-5">{{ ((nones | length * 100)/(total |length)) | number_format(2) }}%</h3>
                            {% else %}
                                <h3 class="fw-700 mb-5">0%</h3>
                            {% endif %}
                        </div>
                    </div>
                    <span class="st-bt-lbl">{{ nones | length }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- :STATISTIQUES FICHIERS -->

    <div class="row">
        <div class="col-md-12">
            <div class="separator mb-20"></div>
            <div class="row layout-wrap" id="layout-wrap">
                {% for document in total | reverse | slice(0, 10) %}
                    <div class="col-12 list-item">
                        <div class="card d-flex flex-row mb-3">
                            <a class="d-flex card-img" href="#editLayoutItem{{ loop.index }}" data-toggle="modal" data-target="#editLayoutItem{{ loop.index }}">
                                {% if document.folder is same as('images') %}
                                    <div class="image-select">
                                        <img src="{{ asset('uploads/' ~ document.folder ~'/'~ document.completeUrl~ document.ext) }}" alt="Donec sit amet est at sem iaculis aliquam." class="list-thumbnail responsive
                                    border-0">
                                    </div>
                                {% elseif document.folder is same as('pdf') %}
                                    <div class="pdf-select">
                                        <img src="{{ asset('build/assets/media/images/pdf.3fa92281.svg') }}" alt="Donec sit amet est at sem iaculis aliquam." class="list-thumbnail responsive border-0">
                                    </div>
                                {% else %}
                                    <div class="icone-select">
                                        <i class="ik ik-file"></i>
                                    </div>
                                {% endif %}
                                <span class="badge badge-pill badge-primary position-absolute badge-top-left">Dossier {{ document.folder }}</span>
                            </a>
                            <div class="d-flex flex-grow-1 min-width-zero card-content">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center" style="min-height: 100px;">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="#editLayoutItem{{ loop.index }}" data-toggle="modal" data-target="#editLayoutItem{{ loop.index }}">
                                        <strong>/{{ document.completeUrl | slice(0, 25) }}...</strong>
                                    </a>
                                    <p class="mb-1 text-muted text-small category w-15 w-xs-100">{{ document.title }}</p>
                                    <p class="mb-1 text-muted text-small date w-15 w-xs-100">{{ document.updatedAt | date('d/m/Y h:m:s') }}</p>
                                    <div class="w-15 w-xs-100">
{#                                        {% if document.about or document.serviceIcone or document.serviceImage %}#}
{#                                            <span class="badge badge-pill badge-green">Associé</span>#}
{#                                        {% else %}#}
{#                                            <span class="badge badge-pill badge-secondary">Non associé</span>#}
{#                                        {% endif %}#}
                                    </div>
                                </div>
                                <div class="list-actions">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#editLayoutItem{{ loop.index }}">
                                        <i class="ik ik-eye"></i>
                                    </a>
                                    {{ include('bibliotheque/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade edit-layout-modal" id="editLayoutItem{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editLayoutItemLabel">{{ document.completeUrl }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    {% if document.folder is same as('images') %}
                                        <div class="image-select text-center">
                                            <img src="{{ asset('uploads/' ~ document.folder ~'/'~ document.completeUrl~ document.ext) }}"
                                                 alt="Donec sit amet est at sem iaculis aliquam."
                                                 class="w-50">
                                            {{ include('bibliotheque/_edit_form.html.twig') }}
                                        </div>
                                    {% elseif document.folder is same as('pdf') %}
                                        <object type="application/pdf"
                                                data="{{ asset('uploads/' ~ document.folder ~'/'~ document.completeUrl~ document.ext) }}"
                                                width="100%"
                                                height="800">
                                        </object>

                                    {% else %}
                                        <object type="application/pdf"
                                                data="{{ asset('uploads/' ~ document.folder ~'/'~ document.completeUrl~ document.ext) }}"
                                                width="100%"
                                                height="800">
                                        </object>
                                    {% endif %}
                                </div>
{#                                <div class="modal-footer">#}
{#                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                                    <a href="javascript:void(0);" class="btn btn-primary">Edit</a>#}
{#                                    <button type="button" class="btn btn-danger list-delete">Delete</button>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
